*{
    margin: 0;
    padding: 0;
}
.table{
    width: 800px;
}
.table tbody{
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}
.table tbody tr{
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;
    padding-bottom: 20px;
}
.table tbody tr th{
    flex: 1;
    text-align: left;
    padding-top: 15px;
}
.table tbody tr td{
    flex: 1;
    text-align: left;
    border-top: rgb(231, 231, 231) 1px solid;
    padding-top: 15px;
}

